Repository Sm1t/next-mst-realworld-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, stylelint --syntax=scss

chore(package.json): add import/order eslint rule, add sass
  package-lock.json
  package.json
  src/App.js
  src/App.scss
  src/index.js
  src/index.scss
Due: eslint, stylelint --syntax=scss

chore: update readme.md
  README.md
Due: none

chore(readme.md): fix grammar error
  README.md
Due: none

chore: migrate to create-next-app
  .eslintrc.json
  .gitignore
  README.md
  commitlint.config.js
  package-lock.json
  package.json
  pages/index.js
  src/App.js
  src/App.scss
  src/App.test.js
  src/index.js
  src/index.scss
  src/logo.svg
  src/serviceWorker.js
Due: eslint, stylelint --syntax=scss

chore: improve eslint config, add jest, move source to src/
  .babelrc
  .eslintrc.json
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  src/models/Article.js
  src/models/Article.test.js
  src/pages/index.js
  wallaby.js
Due: eslint

chore: fix wallaby config
  wallaby.js
Due: eslint

feat(article): add setTitle, setContent actions, add ArticleList model
  .eslintrc.json
  package-lock.json
  src/models/Article.js
  src/models/Article.test.js
  src/models/__snapshots__/Article.test.js.snap
  wallaby.js
Due: eslint

chore: update README, add *.snap files to wallaby config
  README.md
  wallaby.js
Due: eslint

refactor: add _app.js to provide stores, update project structure
  .eslintrc.json
  package-lock.json
  src/components/Articles.js
  src/pages/_app.js
  src/pages/index.js
  src/stores/Article.test.js
  src/stores/ArticleStore.js
  src/stores/__snapshots__/Article.test.js.snap
  src/stores/index.js
Due: eslint

refactor(article): pass string to inject
  src/components/Articles.js
  src/stores/ArticleStore.test.js
Due: eslint

chore: add utility modelOf, set eslint rule arrow-parens to 'as-needed'
  .eslintrc.json
  src/stores/__snapshots__/ArticleStore.test.js.snap
  src/utils/__snapshots__/modelOf.test.js.snap
  src/utils/modelOf.js
  src/utils/modelOf.test.js
Due: eslint

feat(articles): load articles from api
  package-lock.json
  package.json
  src/stores/ArticleStore.js
  src/stores/__snapshots__/Article.test.js.snap
  src/stores/index.js
Due: eslint

chore(babel): remove next/babel preset, add necessary presets, plugins
  .babelrc
  package-lock.json
  package.json
Due: none

chore: move lint-staged, stylelint, commitlint configs to package.json
  .lintstagedrc.json
  .stylelintrc.json
  commitlint.config.js
  package.json
Due: eslint

chore: create api.js, add articleService, fetch pages data
  .eslintrc.json
  src/api.js
  src/components/ArticleList.js
  src/pages/_app.js
  src/pages/index.js
  src/stores/ArticleStore.js
  src/stores/index.js
Due: eslint

chore: add article.service, create api constants
  src/api.js
  src/api/article.service.js
  src/api/article.service.test.js
  src/api/constants.js
  src/api/index.js
Due: eslint

chore: add layout, header
  src/layout/Header.js
  src/layout/Layout.js
  src/layout/index.js
  src/pages/_app.js
Due: eslint

chore: use realworld README.md, update manifest.json, add logo.png
  README.md
  logo.png
  public/index.html
  public/manifest.json
Due: none

chore: add server.js, serve static files, use manifest.json
  README.md
  package-lock.json
  package.json
  server.js
  src/layout/Layout.js
Due: eslint

feat: create ArticlePreview, use it in ArticleList
  package.json
  src/components/ArticleList.js
  src/components/ArticlePreview.js
  src/pages/_app.js
  src/store/ArticleStore.js
  src/store/ArticleStore.test.js
  src/store/__snapshots__/ArticleStore.test.js.snap
  src/store/index.js
  src/store/store.js
  src/stores/__snapshots__/ArticleStore.test.js.snap
Due: eslint

feat: add login and register views, create ActiveLink, update layouts
  src/components/ArticleList.js
  src/components/Link.js
  src/layout/Header.js
  src/pages/index.js
  src/pages/login.js
  src/pages/register.js
Due: eslint

feat: create userStore, improve Header navigation
  src/layout/Header.js
  src/store/UserStore.js
  src/store/store.js
Due: eslint

feat: article page
  server.js
  src/components/ArticlePreview.js
  src/pages/article.js
Due: eslint

feat(article page): show tag list, format date
  src/pages/article.js
  src/utils/formatDate.js
Due: eslint

feat: load popular tags, create TagList, tag.service
  .eslintrc.json
  package-lock.json
  package.json
  src/api/index.js
  src/api/tag.service.js
  src/components/TagList.js
  src/pages/article.js
  src/pages/index.js
Due: eslint

chore: create 'take' helper to get necessary data from response
  src/api/article.service.js
  src/api/article.service.test.js
  src/api/tag.service.js
  src/api/take.js
  src/api/take.test.js
  src/store/ArticleStore.js
Due: eslint

feat(article): add markdown support
  package-lock.json
  package.json
  src/pages/article.js
Due: eslint

feat(auth): add authStore, auth.service, login function to Login page
  .eslintrc.json
  src/api/auth.service.js
  src/api/index.js
  src/components/ErrorsList.js
  src/pages/article.js
  src/pages/login.js
  src/pages/register.js
  src/store/AuthStore.js
  src/store/store.js
Due: eslint

chore(package.json): update react and mobx dependencies
  package-lock.json
  package.json
Due: none

refactor(stores): add model names, fix types.optional
  src/store/ArticleStore.js
  src/store/UserStore.js
  src/store/store.js
Due: eslint

feat(auth): set currentUser after login
  src/pages/login.js
  src/store/AuthStore.js
  src/store/UserStore.js
Due: eslint

test: update dependencies, install enzyme, add ErrorsList test
  jest.config.js
  package-lock.json
  package.json
  setupTests.js
  src/components/ErrorsList..test.js
  src/components/ErrorsList.js
  src/components/__snapshots__/ErrorsList..test.js.snap
  wallaby.js
Due: eslint

test: add enzyme-to-json/serializer, ErrorsList test render list
  jest.config.js
  package-lock.json
  package.json
  src/components/ErrorsList.test.js
  src/components/__snapshots__/ErrorsList..test.js.snap
  src/components/__snapshots__/ErrorsList.test.js.snap
Due: eslint

feat(auth): work with token, refactor login, remove AuthStore
  package-lock.json
  package.json
  server.js
  src/__snapshots__/login.test.js.snap
  src/api/auth.service.js
  src/api/index.js
  src/login.test.js
  src/pages/_app.js
  src/pages/login.js
  src/store/AuthStore.js
  src/store/UserStore.js
  src/store/store.js
Due: eslint

test: add UserStore creation test, actions except checkAuth
  src/store/UserStore.test.js
  src/store/__snapshots__/UserStore.test.js.snap
Due: eslint

chore(readme.md): add Functionality overview section
  README.md
Due: none

feat(profile): add profile link to header navigation
  src/layout/Header.js
Due: eslint

feat(profile): add profile page layout
  src/pages/profile.js
Due: eslint

chore(package.json): migrate to yarn, upgrade dependencies
  .babelrc
  package-lock.json
  package.json
  yarn.lock
Due: none

chore(package.json): remove git add from lint-staged .js commands
  package.json
Due: none

Path conditions:
  eslint: any of: *.js
  stylelint: any of: *.css
  stylelint --syntax=scss: any of: *.scss
